// Vars for adaptive version
$mobile: 479.98px;
$tablet: 767.98px;
$desktop: 1279.98px;

// Vars for color-sheme
$main-color: #ffe550;
$back-color: #fefefe;
$button-color: #bbf330;
$second-color: #7eb101;
$dark-color: #2c2c2c;
$error-color: #fe6060;
$white-color:#fff;
