<!-- <div class="background__wave"> -->
    <section class="section customer__say">
        <div class="container customers">
            <h2 class="section__title">What our Customers Say</h2>
            <p class="section__subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <ul class="coment__list">
                <li class="coment__item">
                    <div class="coment__stars stars">
                        <svg class="stars__icon" width="17" height="16">
                            <use href="./images/symbol-defs.svg#customers-star"></use>
                        </svg>
                        <svg class="stars__icon" width="17" height="16">
                            <use href="./images/symbol-defs.svg#customers-star"></use>
                        </svg>
                        <svg class="stars__icon" width="17" height="16">
                            <use href="./images/symbol-defs.svg#customers-star"></use>
                        </svg>
                        <svg class="stars__icon" width="17" height="16">
                            <use href="./images/symbol-defs.svg#customers-star"></use>
                        </svg>
                        <svg class="stars__icon" width="17" height="16">
                            <use href="./images/symbol-defs.svg#customers-star"></use>
                        </svg>
                    </div>
                    <p class="customer__quote">“The Best app I have used to order food in a while, so many options to choose
                        from too, I would recommend to a freind, No questions asked”
                    </p>
                    <div class="customers__people people">
                        <picture class="people__photo">
                            <source srcset="
                            ./images/desktop/1x_people_1.png 1x, 
                            ./images/desktop/2x_people_1.png 2x" 
                            media="min-width: 1280px"/>
    
                            <source srcset="
                            ./images/tablet/1x_people_1.png 1x, 
                            ./images/tablet/2x_people_1.png 2x" 
                            media="min-width: 768px"/>
    
                            <source srcset="
                            ./images/mobile/1x_people_1.png 1x, 
                            ./images/mobile/2x_people_1.png 2x" 
                            media="min-width: 320px"/>
    
                            <img  src="./images/mobile/1x_people_1.png" alt="photo">
                        </picture>
                        <div class="people__about">
                            <p class="poeple__name"> Sumith Shah</p>
                            <p class="people__decs"> Some Dude</p>
                        </div>
                    </div>
                </li>
                <li class="coment__item">
                    <div class="coment__stars stars">
                        <svg class="stars__icon" width="17" height="16">
                            <use href="./images/symbol-defs.svg#customers-star"></use>
                        </svg>
                        <svg class="stars__icon" width="17" height="16">
                            <use href="./images/symbol-defs.svg#customers-star"></use>
                        </svg>
                        <svg class="stars__icon" width="17" height="16">
                            <use href="./images/symbol-defs.svg#customers-star"></use>
                        </svg>
                        <svg class="stars__icon" width="17" height="16">
                            <use href="./images/symbol-defs.svg#customers-star"></use>
                        </svg>
                        <svg class="stars__icon" width="17" height="16">
                            <use href="./images/symbol-defs.svg#customers-star"></use>
                        </svg>
                    </div>
                    <p class="customer__quote">“The ease with which I can just go in and order what i want was amazing, It
                        has
                        been a very pleasant experience ordering from this app”
                    </p>
                    <div class="customers__people people">
                        <picture class="people__photo">
                            <source srcset="
                            ./images/desktop/1x_people_2.png 1x, 
                            ./images/desktop/2x_people_2.png 2x" 
                            media="min-width: 1280px"/>
    
                            <source srcset="
                            ./images/tablet/1x_people_2.png 1x, 
                            ./images/tablet/2x_poeple_2.png 2x" 
                            media="min-width: 768px"/>
    
                            <source srcset="
                            ./images/mobile/1x_people_2.png 1x, 
                            ./images/mobile/2x_people_2.png 2x" 
                            media="min-width: 320px"/>
    
                            <img  src="./images/mobile/1x_people_2.png" alt="photo">
                        </picture>
                        <div class="people__about">
                            <p class="poeple__name"> Sumith Shah</p>
                            <p class="people__decs"> Some Dude</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </section>