<div class="section favorites">
    <div class="container">
        <h2 class="favorites__title">Some of Our Favorites</h2>
        <p class="favorites__subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <ul class="favorites__list">
            <li class="favorites__item">
                <a href="#" class="favorites__link">
                    <picture>
                        <source
                          srcset="
                            ./images/mobile/gamburger.png 1x,
                            ./images/mobile/gamburger@2x.png 2x
                          "
                          media="(max-width: 767.98px)"
                        />
                        <source
                          srcset="
                            ./images/tablet/gamburger.png 1x,
                            ./images/tablet/gamburger@2x.png 2x
                          "
                          media="(max-width: 1279px)"
                        />
                        <source
                          srcset="
                            ./images/desktop/gamburger.png 1x,
                            ./images/desktop/gamburger@2x.png 2x
                          "
                          media="(min-width: 1280px)"
                        />
                        <img class="favorites__img"
                          src="./images/mobile/gamburger.png"
                          alt="gamburger"
                        />
                      </picture>
                </a>
            </li>
            <li class="favorites__item">
                <a href="#" class="favorites__link">
                    <picture>
                        <source
                          srcset="
                            ./images/mobile/pasta.png 1x,
                            ./images/mobile/pasta@2x.png 2x
                          "
                          media="(max-width: 767.98px)"
                        />
                        <source
                          srcset="
                            ./images/tablet/pasta.png 1x,
                            ./images/tablet/pasta@2x.png 2x
                          "
                          media="(max-width: 1279px)"
                        />
                        <source
                          srcset="
                            ./images/desktop/pasta.png 1x,
                            ./images/desktop/pasta@2x.png 2x
                          "
                          media="(min-width: 1280px)"
                        />
                        <img class="favorites__img"
                          src="./images/mobile/pasta.png"
                          alt="pasta"
                        />
                      </picture>
                </a>
            </li>
            <li class="favorites__item">
                <a href="#" class="favorites__link">
                    <picture>
                        <source
                          srcset="
                            ./images/mobile/pizza.png 1x,
                            ./images/mobile/pizza@2x.png 2x
                          "
                          media="(max-width: 767.98px)"
                        />
                        <source
                          srcset="
                            ./images/tablet/pizza.png 1x,
                            ./images/tablet/pizza@2x.png 2x
                          "
                          media="(max-width: 1279px)"
                        />
                        <source
                          srcset="
                            ./images/desktop/pizza.png 1x,
                            ./images/desktop/pizza@2x.png 2x
                          "
                          media="(min-width: 1280px)"
                        />
                        <img class="favorites__img"
                          src="./images/mobile/pizza.png"
                          alt="pizza"
                        />
                      </picture>
                </a>
            </li>
            <li class="favorites__item">
                <a href="#" class="favorites__link">
                    <picture>
                        <source
                          srcset="
                            ./images/tablet/chicken.png 1x,
                            ./images/tablet/chicken@2x.png 2x
                          "
                          media="(max-width: 1279px)"
                        />
                        <source
                          srcset="
                            ./images/desktop/chicken.png 1x,
                            ./images/desktop/chicken@2x.png 2x
                          "
                          media="(min-width: 1280px)"
                        />
                        <img class="favorites__img"
                          src="./images/tablet/chicken.png"
                          alt="chicken"
                        />
                    </picture>
                </a>
            </li>
            <li class="favorites__item">
                <a href="#" class="favorites__link">
                    <picture>
                        <source
                          srcset="
                            ./images/tablet/salat.png 1x,
                            ./images/tablet/salat@2x.png 2x
                          "
                          media="(max-width: 1279px)"
                        />
                        <source
                          srcset="
                            ./images/desktop/salat.png 1x,
                            ./images/desktop/salat@2x.png 2x
                          "
                          media="(min-width: 1280px)"
                        />
                        <img class="favorites__img"
                          src="./images/tablet/salat.png"
                          alt="Salat"
                        />
                    </picture>
                </a>
            </li>
            <li class="favorites__item">
                <a href="#" class="favorites__link">
                    <picture>
                        <source
                          srcset="
                            ./images/tablet/borshch.png 1x,
                            ./images/tablet/borshch@2x.png 2x
                          "
                          media="(max-width: 1279px)"
                        />
                        <source
                          srcset="
                            ./images/desktop/borshch.png 1x,
                            ./images/desktop/borshch@2x.png 2x
                          "
                          media="(min-width: 1280px)"
                        />
                        <img class="favorites__img"
                          src="./images/tablet/borshch.png"
                          alt="borshch"
                        />
                    </picture>
                </a>
            </li> 
        </ul>
    </div>
</div>