<footer class="footer">
    <div class="footer__container container">
      <div>
        <a class="footer__logo" href="index.html"
          ><span class="footer__logo-span">Web</span>Studio</a
        >
        <address class="footer__adress">
          <ul class="list">
            <li>
              <a
                class="footer__nav"
                href="https://www.google.com.ua/maps/@50.4851493,30.4721233,14z?hl=ru"
                target="_blank"
                rel="noopener noreferrer"
                >м. Київ, пр-т Лесі Українки, 26
              </a>
            </li>
            <li>
              <a
                class="footer__link-mail footer__numb-post"
                href="mailto:info@devstudio.com"
                >info@devstudio.com</a
              >
            </li>
            <li>
              <a
                class="footer__link footer__numb-post"
                href="tel:+380961111111"
                >+38 096 111 11 11</a
              >
            </li>
          </ul>
        </address>
      </div>
      <div class="join">
        <h4 class="join__title">Приєднуйтесь</h4>
        <ul class="list join__list">
          <li>
            <a
              class="link join__link"
              href="https://www.instagram.com/"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="link to instagram"
            >
              <svg width="20" height="20" class="icons">
                         </svg>
            </a>
          </li>
          <li>
            <a
              class="link join__link"
              href="https://twitter.com/"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="link to twitter"
            >
              <svg width="20" height="20" class="icons">
                 </svg>
            </a>
          </li>
          <li>
            <a
              class="link join__link"
              href="https://www.facebook.com/"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="link to facebook"
            >
              <svg width="20" height="20" class="icons">
                      </svg>
            </a>
          </li>
          <li>
            <a
              class="link join__link"
              href="https://www.linkedin.com/"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="link to linkedin"
            >
              <svg width="20" height="20" class="icons">
                      </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="subscribe">
        <h2 class="subscribe__text">ПІДПИШІТЬСЯ НА РОЗСИЛКУ</h2>
        <div class="subscribe__email">
          <label for="mail"></label>
          <input
            class="subscribe__second-text"
            type="email"
            name="mail"
            id="mail"
            placeholder="E-mail"
          />
          <button class="subscribe__button" type="submit">
            Підписатися<span class="subscribe__icon"
              ><svg width="24" height="24" class="icons">
                an>
          </button>
        </div>
      </div>
    </div>
  </footer>