<footer class="footer section">
    <div class="footer__container container">
        <div class="footer__cont-desktop">
            <div>
        <a href="" class="logo"></a>
        <nav class="footer__nav">
            <a href="#" class="footer__logo">
            <svg class="footer__logo-icon" width="58" height="51">
                <use href="/src/images/symbol-defs.svg#logo"></use>
              </svg></a>

            <ul class="footer__nav-list"></ul>
            <li class="footer__nav-item ">Home</li>
            <li class="footer__nav-item ">About</li>
            <li class="footer__nav-item ">Service</li>
            <li class="footer__nav-item ">Menu</li>
            <li class="footer__nav-item ">Contact</li>

        </nav>
        </div>
        <div>
            <h2 class="footer__subs-title">Subscribe</h2>
            <div class="footer__subscribe">
            <input
              class="footer__input-line"
              type="email"
              name="mail"
              id="mail"
              placeholder="Enter your email"
            />
            <button class="footer__button button" type="button">
                Subscribe
              </button>
             </div>
        <p class="footer__text">By subscribing you agree to with our <span class="footer__policy"><a href="#">Privacy Policy</a></span></p>
    </div>
    </div>
        <div class="footer__bottom">
            <ul class="footer__policy_list">
                <a href="#" class="footer__policy-item">Privacy Policy</a>
                <a href="#" class="footer__policy-item">Terms of Service</a>
                <a href="#" class="footer__policy-item">Cookies Settings</a>
            </ul>            
        
         <p class="footer__foodstra">2022 FoodSta. All right reserved.</p>
        </div>
    </div>

</footer>