<section class="section subscribe">
    <div class="container subscribe__container">
        <div class="subscribe__banan">
            <picture>
                <source srcset="#" 
                media="min-width: 1280px" />

                <source srcset="#" 
                media="min-width: 768px" />

                <source srcset="#" 
                media="min-width: 320px" />

                <img src="#" alt="banan">
            </picture>
        </div>
        <div>
            <h2 class="section__title"> Subscribe To Get Special Offers </h2>
            <p class="section__subtitle"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius
                enim
                in eros elementum tristique. </p>

            <form class="subscribe__form">
                <input class="footer__input" type="email" name="mail" id="mail" placeholder="Enter your email">
                <button class="subscribe__btn" type="submit">
                    <span class="subscribe__btn--submit">Subscribe</span>
                </button>
            </form>
        </div>
    </div>
</section>
<!-- </div> -->